<h1><%= @post.title %></h1>
<div class="post">
  <div class="timestamp">Posted at <%= std_format_date(@post.created_at) %></div>
  <div class="body"><%= @post.body %></div>
</div>
<div class="comments">
  <h2>Comments</h2>
  <%= render @post.comments %>
</div>

<% if logged_in? %>
  <h3>Add your comment</h3>

  <%= form_for [@post, @comment] do |f| %>
  <fieldset>
    <div>
      <%= f.label :content %>
      <%= f.text_area :content, rows: 5, cols:80 %>
    </div>
    <div>
      <%= label_tag '' %>
      <%= f.submit %>
    </div>
  </fieldset>
  <% end %>
  
<% end %>